@using BlazorCLIMB.Data.Dapper.Repositories;
@using BlazorCLIMB.Model.BlazorCRUD.Model;
@using BlazorCLIMB.UI.Interfaces;
@using BlazorCLIMB.UI.Services;
@inject IAuthService authService
@inject NavigationManager NavigationManager

<div style="border-radius: 50%; width: 55px; height: 55px; border: 2px solid white; margin-left: 30px; display: flex; align-items: center; justify-content: center; cursor: pointer; overflow: hidden;">
    <img src="@GetImageAsBase64()" alt="User Avatar"
         style="border-radius: 50%; width: 100%; height: 100%; object-fit: cover;" />
</div>


@code {
    private User user;
    private byte[] base64Image;
   


    protected override async Task OnInitializedAsync()
    {
        int userId = UserSession.UserId;

        if (userId != 0)
        {

            user = await authService.GetUserById(userId);
            base64Image = user.Img;

        }
        StateHasChanged();
    }

    private string GetImageAsBase64()
    {
        if (user?.Img != null)
        {
            return $"data:image/png;base64,{Convert.ToBase64String(user.Img)}";
        }
        else
        {
            return "_content/ClimbAppUi/images/ondra.jpg";
        }
    }
   
}

