@page "/"

<style>
    .left-section img{
        display:flex;
        justify-content:end;
        position:absolute;
        height:100%;
        width: 30%;
        background-image: url('/images/wallpaper.png'); /* Fondo específico para la sección izquierda */
    margin-top:-40px;
      
    }


</style>

<div class="left-section">
    <img src="/images/wallpaper.png" alt="Imagen de fondo" />
</div>
@code {

}
