
Estilos generales para la página de inicio
Estilo para la página
.body {
    background-image: url('/images/169781.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}







