@using BlazorCLIMB.UI.Shared
<style>
    /* Estilos para la imagen del escalador */
    .escalador-image {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        display: block;
        margin-left: 0; /* Margen izquierdo establecido a 0 */
        margin-right: auto;
    }

    /* Estilos para ocultar el icono de filtro en el grid */
    .rzi.rz-grid-filter-icon {
        display: none;
        
    }

    /* Estilos para elementos con tabindex -1 (puedes personalizarlos) */
    div[tabindex="-1"] {
        text-align: center;
        
        background-color: black;
        
    }

    /* Estilos para elementos de datos en el grid */
    .rz-cell-data, .rz-column-title-content {
        color: white;
        font-size: 1em;
    }

    /* Estilos para tarjetas de YouTube */
    .youtube-card {
        width: 90%; /* Ajusta este valor según tus necesidades */
    
    }

    /* Estilos para hacer que los videos de YouTube tengan relación de aspecto 16:9 */
    .embed-responsive-16by9 {
        padding-bottom: 56.25%;
     /* Espacio en la parte superior */
        margin-bottom: 20px; /* Espacio en la parte inferior */

    }

    .margenizq{
        margin-left:30px;
    }
</style>
<div class="margenizq">
<RadzenRow class="rz-text-align-center" >
    <RadzenColumn Size="12" SizeSM="4" SizeMD="3" SizeLG="2" Order="3">
            @if (userId != null && userId != 0)
            {
                <!-- Renderizar el componente Index si el usuario está autenticado -->
                <Avatar/>
            }
        <div class="card youtube-card" style="border-radius: 15px;">
            <div class="card-body">
                <h5 class="card-title">EDITORIAL</h5>
                <p class="card-text">by Jens Larssen, Editor-in-Chief</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FOQ4CxiN2Z4" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </RadzenColumn>

    <RadzenColumn Size="12" SizeSM="5" SizeMD="3" SizeLG="2" Order="1" style="background-color: black; border-radius: 15px;" class="rz-p-5">
        @if (userId != null && userId != 0)
        {
            <!-- Renderizar el componente Index si el usuario está autenticado -->
            <BlazorCLIMB.UI.Pages.Index />
        }
        <RecentRockstarRoutes />
    </RadzenColumn>

    <RadzenColumn Size="12" SizeMD="6" SizeLG="7" Order="2" class="rz-p-2">
        <div class="news-section">
            <h2>LATEST NEWS</h2>
            <img src="images/new.jpg" alt="Imagen de la noticia" style="width:100%;">
            <h3>Noé Looser, 16, does Nobody is Perfect (8c)</h3>
            <p>Noé Looser, who last month won the Lead Euro Youth Championships, has sent Nobody is perfect (8c) at Voralberg. In 2020, at 13 she sent her first 8c, Siesta.</p>
        </div>
    </RadzenColumn>
</RadzenRow>
</div>
@code {
    private int? userId;

    protected override void OnInitialized()
    {
        userId = UserSession.UserId;  // Acceso directo a la propiedad estática
    }
}
