@page "/"

@using BlazorCLIMB.UI.Shared
<style>
    

    .unimg {
        height: 25%;
        width: 100%;
    }
    .unimg img{
        
            line-height: 0;
            color: #000000;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-right-style: solid;
            width: 100%;
            aspect-ratio: auto 828 / 190;
            height:180%;
            margin-right: 10px;
    }
   
    .user-links {
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        box-sizing: inherit;
        margin: 0;
        font-family: "IBM Plex Sans";
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        font-weight: 400;
        padding: 10px 0;
    }

    iframe {
        width: 275px;
        -webkit-text-size-adjust: 100%;
        font-size: 14px;
        font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: 400;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        box-sizing: inherit;
        display: flex;
    }
    .enmedio img{
    
        -webkit-text-size-adjust: 100%;
        font-size: 14px;
        font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: 400;
        line-height: 1.5;
       
        -webkit-font-smoothing: antialiased;
        box-sizing: inherit;
        border-style: none;
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    .responsive-embed{
      
        margin: 10px;
        text-align: justify;
        width: 80%;
        margin: 10px;
    }
    a {
        text-align: left;
        width: 80%;
        margin: 10px;
        text-decoration: none; /* Elimina el subrayado */
        color: black; /* Establece el color del texto en negro */
        /* Puedes agregar otros estilos según tus preferencias, como el tamaño de fuente, márgenes, etc. */
    }
    .grid-x {
        -webkit-text-size-adjust: 100%;
        font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        list-style-position: outside;
        list-style-type: none;
        font-size: inherit;
        box-sizing: inherit;
        background-color: transparent;
        line-height: inherit;
        display: flex;
        flex-flow: row wrap;
        cursor: pointer;
        color: black;
        text-decoration: none;
    }
    .side-box{
        -webkit-text-size-adjust: 100%;
        font-size: 14px;
        font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: 400;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        box-sizing: inherit;
        margin: 0;
        width: 324px;
        background-color: #e5e8ed;
        padding:10px;
    }
  

    .rz-text-align-center {
        text-align: center;
        width: 100%; /* Ancho del 100% para adaptarse al ancho de la pantalla */
         /* Espaciado relativo */
        /* Otros estilos flexibles según tus necesidades */
    }

    .news-content{
        text-align:start;
        width:80%;
        margin:10px;
        margin-right:30px;
    }
   
</style>

<RadzenRow class="rz-text-align-center" >
    <RadzenColumn Size="11" SizeSM="3" SizeMD="2" SizeLG="1" Order="3" style="border:solid,2px,black">
            <div data-v-6a95720a="" class="side-box">
                <h3 class="hTres">EDITORIAL</h3><div class="linea"></div> <p data-v-6a95720a="" class="editorial-title">
                    by Jens Larssen, Editor-in-Chief
                </p> <div data-v-215186a1="" data-v-6a95720a="" class="news-list medium">
                    <div data-v-215186a1="" class="grid-x news-list-item">
                        <div data-v-215186a1="" class="cell">
                            <div data-v-215186a1="" id="0">
                            <div data-v-215186a1="" class="responsive-embed widescreen">Babsi Zangerl did the third repeat of Beth Rodden’s Meltdown (8c+) in 
                                <b><a class="int-url" href="https://www.8a.nu/areas/united-states/yosemite-ca">Yosemite (CA)</a></b>
                                last month. Rodden put it up in 2008 and it is considered to be the first 8c+ trad in the world. Carlo Traversi did the first repeat in 2018 and then Babsi's partner Jacopo Larcher sent it last year.
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Jyj6_k_kJ-M?si=6vh1spfRleBDjGDi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></div></div></div> <div data-v-215186a1="" class="cell">
                            <!----> <h4 data-v-215186a1="">
                        <a data-v-215186a1="" href="/news/babsi-zangerl-sends-meltdown-8c+-trad-964zi" class="news-content" style="text-align:start; width:250px%; margin:10px; margin-right:30px;">
                                    Babsi Zangerl's footage Meltdown (8c+) trad
                                </a>
                            </h4> <!----> <div data-v-215186a1="" class="content-wrapper"><p data-v-215186a1="" class="news-content">Babsi Zangerl did the third repeat of Beth Rodden’s Meltdown (8c+) in Yosemite (CA) last month. Rodden put it up in 2008 and it is considered to be the first 8c+ trad in the world. Carlo Traversi did the first repeat in 2018 and then Babsi's partner Jacopo Larcher sent it last year. </p></div> <div data-v-215186a1="" class="news-footer-wrapper grid-x align-middle">
                                <!----> <div data-v-215186a1="" class="cell auto text-right">
                                    <div data-v-215186a1="" class="news-list-footer">
                                        <div data-v-18391dc0="" data-v-215186a1="" class="nu8a-like-component">
                                            <span data-v-18391dc0="" class="like-icon-wrapper"><i data-v-18391dc0="" class="nu8a-icon nu8a-like-inactive-dark"></i></span><span data-v-18391dc0="" class="like-count like-count__dark"></span> <div data-v-18391dc0="" class="help is-danger" style="display: none;">
                                            </div> <!---->
                                        </div> <a data-v-215186a1="" href="/news/babsi-zangerl-sends-meltdown-8c+-trad-964zi#comments" class="news-list-footer-comments">
                                            <i data-v-215186a1="" class="webicon xx-small vl-comment"></i> <span data-v-215186a1="" class="comment-count">
                                          
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <hr data-v-215186a1="" class="ddd"><div data-v-215186a1="" class="grid-x news-list-item">
                        <div data-v-215186a1="" class="cell"><div data-v-215186a1="" id="1"><div data-v-215186a1="" class="responsive-embed widescreen"><iframe width="560" height="315" src="https://www.youtube.com/embed/L_9JiYrr32k?si=I9vpQnBBdV3jTmx3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></div></div></div> <div data-v-215186a1="" class="cell">
                            <!----> <h4 data-v-215186a1="">
                        <a data-v-215186a1="" href="/news/how-toby-roberts-became-an-olympian-in-3-days" class="news-content" style="text-align:start; width:250px; margin:10px; margin-right:30px;">
                                    Toby Roberts became an Olympian in 3 days
                                </a>
                            </h4> <!----> <div data-v-215186a1="" class="content-wrapper"><p data-v-215186a1="" class="news-content"></p></div> <div data-v-215186a1="" class="news-footer-wrapper grid-x align-middle">
                                <!----> <div data-v-215186a1="" class="cell auto text-right">
                                    <div data-v-215186a1="" class="news-list-footer">
                                        <div data-v-18391dc0="" data-v-215186a1="" class="nu8a-like-component">
                                            <span data-v-18391dc0="" class="like-icon-wrapper"><i data-v-18391dc0="" class="nu8a-icon nu8a-like-inactive-dark"></i></span><span data-v-18391dc0="" class="like-count like-count__dark"></span> <div data-v-18391dc0="" class="help is-danger" style="display: none;">
                                            </div> <!---->
                                        </div> <a data-v-215186a1="" href="/news/how-toby-roberts-became-an-olympian-in-3-days#comments" class="news-list-footer-comments">
                                            <i data-v-215186a1="" class="webicon xx-small vl-comment"></i> <span data-v-215186a1="" class="comment-count">
                                        
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            
    </RadzenColumn>

    <RadzenColumn Size="12" SizeSM="5" SizeMD="3" SizeLG="2" Order="1">

        <div class="unimg"><img src="/images/Wallpaper.png" alt="img" title="title" /></div>
        
         
        </RadzenColumn>

    <RadzenColumn Size="11" SizeMD="6" SizeLG="6" Order="2" class="enmedio">

        <img src="./images/169781.jpg" class="responsive-picture" />
</RadzenColumn>

</RadzenRow>

@code {
   
}
