@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject HttpClient Http
@using BlazorCLIMB.UI.Shared
@using BlazorCLIMB.UI.Services
@inject IJSRuntime JS
@using System.Text.Json;

<PageTitle>BlazorCRUD.UI</PageTitle>

<div class="page">
    @if (ShowNavMenu)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    @if (ShowCustomLayout)
    {
        <div class="content">
            <CustomLayout />
        </div>
    }


    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .central-column {
        background-color: black;
        /* Agregar más estilos si es necesario */
    }
</style>

@code {
    private List<RouteInfo> Routes { get; set; } = new List<RouteInfo>();

    private bool ShowNavMenu => !NavManager.Uri.EndsWith("/Login", StringComparison.OrdinalIgnoreCase)
                            && !NavManager.Uri.EndsWith("/register", StringComparison.OrdinalIgnoreCase);

    private bool ShowCustomLayout => ShowNavMenu
                                    && !NavManager.Uri.EndsWith("/climbingRouteList", StringComparison.OrdinalIgnoreCase)
                                    && !NavManager.Uri.StartsWith("/climbingRouteDetails/", StringComparison.OrdinalIgnoreCase);


    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= HandleLocationChanged;
    }
}
