
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject HttpClient Http
@using BlazorCLIMB.UI.Shared
@using BlazorCLIMB.UI.Services
@inject IJSRuntime JS
@using System.Text.Json;

<style>
    * {
        cursor: auto !important;
        caret-color: transparent;
    }

  .page{
        background-image: url('/images/back.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center;
        -webkit-text-size-adjust: 100%;
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Lato,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 72%;
        color: #333;
        background-color: #e3e6e8 !important;
   
    }
    .central-column {
        background-color: black;
        /* Agregar más estilos si es necesario */
    }

    .avatar-menu {
        position: absolute;
        top: 50px; /* Ajusta la posición vertical según tus necesidades */
        right: 10px; /* Ajusta la posición horizontal según tus necesidades */
        width: 200px;
        max-height: 200px;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1002;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

        .avatar-menu button {
            margin: 5px; /* Espacio entre los botones */
        }

</style>

<div class="page">
    
    @if (ShowNavMenu)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }
    <main>
        <article class="content px-1">
            @Body
        </article>
    </main>
   
</div>

@code {


    private List<RouteInfo> Routes { get; set; } = new List<RouteInfo>();

    private bool ShowNavMenu => !NavManager.Uri.EndsWith("/Login", StringComparison.OrdinalIgnoreCase)
                             && !NavManager.Uri.EndsWith("/register", StringComparison.OrdinalIgnoreCase);


                        
    // && !NavManager.Uri.EndsWith("/climbingRouteList", StringComparison.OrdinalIgnoreCase);


    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= HandleLocationChanged;
    }


}
