@page "/"
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject HttpClient Http
@using BlazorCLIMB.UI.Shared
@using BlazorCLIMB.UI.Services
@inject IJSRuntime JS
@using System.Text.Json;

<style>
    .central-column {
        background-color: black;
        /* Agregar más estilos si es necesario */
    }
</style>

<div class="page">
   
    @if (ShowNavMenu)
    {
        <div class="sidebar">
            <NavMenu />
            <CustomLayout />
        </div>
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>



@code {
    private List<RouteInfo> Routes { get; set; } = new List<RouteInfo>();

    private bool ShowNavMenu => !NavManager.Uri.EndsWith("/Login", StringComparison.OrdinalIgnoreCase)
                            && !NavManager.Uri.EndsWith("/register", StringComparison.OrdinalIgnoreCase)
                            && !NavManager.Uri.EndsWith("/climbingRouteList", StringComparison.OrdinalIgnoreCase)
                            && !NavManager.Uri.StartsWith("/climbingRouteDetails/", StringComparison.OrdinalIgnoreCase);


  


    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= HandleLocationChanged;
    }
}
