@* @page "/token"
@using ClimbApp.Services;
@inject VimeoTokenService vimeoTokenService
@inject IJSRuntime jsRuntime

<h1>Obtener Token de Acceso</h1>

<button @onclick="ObtenerToken">Obtener Token</button>

<p>Token de acceso: @token</p>

@code {
    private string token = "";

    private async Task ObtenerToken()
    {
        // Llama al método GetAccessTokenAsync en el servicio VimeoTokenService
        token = await vimeoTokenService.RefreshAccessTokenAsync();
    }
}
 *@