@inject NavigationManager NavigationManager
@using Radzen
@using Radzen.Blazor
<style>
    
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    .card {
        flex: 0 1 300px; /* La tarjeta puede crecer y encogerse pero con base de 300px */
        margin: 0.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .card-body {
        padding: 1rem;
        text-align: center;
    }

    .btn {
        width: 100%; /* Botón que ocupa todo el ancho */
        padding: 0.5rem;
        margin-top: 1rem;
    }

    @@media (max-width: 600px) {
        .card {
            flex-basis: 90%; /* En pantallas pequeñas, la tarjeta ocupa más ancho */
        }
    }


</style>
<div class="card-container">
    @if (userId != 0)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bienvenido Usuario con ID: @userId</h5>
                <p class="card-text">¡Feliz escalada!</p>
                <button @onclick="GoToCreateRoute" class="btn btn-primary">Registrar una vía</button>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <h4>Por favor, inicie sesión.</h4>
            </div>
        </div>
    }
</div>

@code {
    private int userId;

    protected override void OnInitialized()
    {
        userId = UserSession.UserId; // Asumiendo que UserSession es tu clase para manejar la sesión
    }

    private void GoToCreateRoute()
    {
       
        NavigationManager.NavigateTo("/climbingRouteList");
    }
}
