@page "/"
@inject NavigationManager NavigationManager
@using Radzen
@using Radzen.Blazor

<PageTitle>Página de Inicio</PageTitle>

@if (userId != 0)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bienvenido Usuario con ID: @userId</h5>
            <p class="card-text">¡Feliz escalada!</p>
            <button @onclick="GoToCreateRoute" class="btn btn-primary">Registrar una vía</button>
        </div>
    </div>
}
else
{
    <p>Por favor, inicie sesión.</p>
}

@code {
    private int userId;

    protected override void OnInitialized()
    {
        userId = UserSession.UserId; // Asumiendo que UserSession es tu clase para manejar la sesión
    }

    private void GoToCreateRoute()
    {
        // Navegar a la página para registrar una nueva vía de escalada
        NavigationManager.NavigateTo("/create-route");
    }
}
